
#title, #expected-result {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
#description {
  font-size: 16px;
  color: #666;
}
#expected-result-list {
  all: unset;
  list-style-type: none;
  margin-left: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#expected-result-list li {
  margin-bottom: 10px;
}

.language-html * {
  all: unset;
  display: revert;
}